@import "tailwindcss";

html,
body {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  background: 
    radial-gradient(circle, transparent 60%, rgba(0,0,0,0.5) 100%),
    url('../public/171.jpg') center/cover no-repeat; 
    overflow: hidden;
}

.btn-primary {
  @apply flex items-center justify-center cursor-pointer bg-black border rounded-lg px-4 p-2 
  hover:bg-gray-900 text-white;
}

.nav-btn {
  @apply flex h-10 items-center justify-center m-2 text-center text-white w-48 px-4 font-bold hover:text-amber-100 active:text-pink-200;
}

.bird-table {
  @apply table-auto  
    w-full
    border-collapse 
    border-4 
    border-white 
    sm:w-full 
    bg-black 
    text-white 
    font-mono
    text-lg;
}

.btn-pag {
  @apply  bg-slate-500 hover:bg-slate-400 active:bg-blue-200 rounded border-black border-2 m-0.5 px-1 text-[12px] text-white;
}

.btn-pag-nohover {
  @apply bg-slate-500 rounded border-black border-2 m-0.5 px-1 text-[12px] text-white;
}

.form-field {
  @apply flex flex-col items-center justify-center bg-black/95 p-5 w-100 h-80 rounded-xl;
}

.input-field {
  @apply w-50 border border-white text-white bg-black rounded-lg indent-1.5 mb-3;
}

.theader {
  @apply sticky bg-black top-0 px-2 py-2 rounded;
}

.white-inputs {
  @apply indent-1 rounded border border-white text-white;
}

.basic-btn {
  @apply text-white border border-black h-8 w-18 text-center cursor-pointer bg-gray-900 rounded hover:bg-gray-800 active:bg-gray-500;
}